<link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">订单列表示例</h2>
      </div>
      <section class="mtb">
       <select class="select">
        <option>订单状态</option>
        <option>待付款</option>
        <option>待发货</option>
        <option>待评价</option>
       </select>
       <input type="text" class="textbox textbox_225" placeholder="输入订单编号或收件人姓名/电话..."/>
       <input type="button" value="查询" class="group_btn"/>
      </section>
      <table class="table">
       <tr>
        <th>订单编号</th>
        <th>收件人</th>
        <th>商品名称</th>
        <th>收件人地址</th>
        <th>订单金额</th>
        <th>付款状态</th>
        <th>操作</th>
       </tr>
       <tr>
	    {foreach name="orders" id="vo"}
	    <td class="center">{$vo.order_no}</td>
	    <td>{$vo.nick_name}</td>
	    <td>{$vo.goods_title}</td>
        <td>
		<address>{$vo.address}</address>
        </td>
	<td class="center"><strong class="rmb_icon">{$vo.goods_prom_price}</strong></td>
	<td class="center">
        {if ($vo.is_pay==1)}
        <a title="是" class="link_icon">&#89;</a> 
        {else/}
        <a title="否" class="link_icon">&#88;</a> 
        {/if}

	</td>
        <td class="center">
         <a href="#" title="查看订单" class="link_icon" target="_blank">&#118;</a>
         <a href="#" title="删除" class="link_icon">&#100;</a>
        </td>
       </tr>
       {/foreach}
      </table>
      <aside class="paging">
	{$orders->render()}
      </aside>
 </div>
</section>
